numpy==1.26.4
fastapi
pydantic
sqlalchemy
minio
pandas
tqdm
scikit-learn
skl2onnx
coniferest==0.0.12
fink-science==3.13.3
uvicorn
pyspark==3.1.3
light_curve
aiohttp
requests
pyarrow
fastparquet
pydantic
fastapi_utils
typing_inspect
apscheduler
